@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap");

.navbarr-one {
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  color: rgba(0, 0, 0, 0.335);
}

.navbarr-one:hover {
  color: #000000;
}

body {
  background-color: #fffffb;
  color: rgb(0, 0, 0);
}

.left {
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid #dbe3e3;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
}

.navtwo {
  display: flex;
  text-align: center;
  margin-top: 1.5em;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.335);
}

.navtwo:hover {
  color: #000000;
}

a {
  text-decoration: dashed;
  color: black;
}

.responsive {
  width: 100%;
  height: auto;
  filter: drop-shadow(15px 15px 15px rgb(126, 126, 126));
  margin-top: 2.5em;
  border-radius: 15%;
}

.secondimg {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-top: 10em;
  filter: drop-shadow(15px 15px 15px rgb(126, 126, 126));
  margin-left: 2em;
  border-radius: 7%;
}

.secondpart {
  display: flex;
}
.text {
  margin-top: 1em;
  margin-left: 15em;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  margin-right: 4em;
  line-height: 1.6em;
}

h1.text {
  text-align: center;
  margin-right: 11em;
  margin-left: 20em;
  margin-top: 12em;
  font-size: 20px;
}

.container {
  margin-top: 2em;
  border-top: 1px solid #dbe3e3;
  padding: 24px;
  display: flex;
}

.containertext {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.copyright {
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
}

.fa {
  padding: 10px;
  text-align: center;
  margin: 2px 2px;
  font-size: 18px;
  width: 15px;
  border-radius: 50%;
}
.fa-facebook {
  background: #000000;
  color: white;
}
.fa-facebook:hover {
  background-color: #3175f4;
}

.fa-instagram {
  background: #000000;
  color: white;
}
.fa-instagram:hover {
  background-color: #ff1a1a;
}

.fa-google {
  background: #000000;
  color: white;
}
.fa-google:hover {
  background-color: rgb(85, 255, 33);
  color: #000000;
}

.fa-linkedin {
  background: #000000;
  color: white;
}

.fa-linkedin:hover {
  background-color: #143fff;
}

ul {
  list-style-type: none;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.cards {
  display: flex;
  margin-top: 12em;
  margin-bottom: 8em;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.card {
  border: 1px solid #dbe3e3;
  justify-content: space-around;
  margin-left: 100px;
}

.card-img-top {
  width: 100%;
  height: 350px;
  border-radius: 5%;
}

.card-text {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.btn {
  width: 150px;
  height: 50px;
  margin-left: 5em;
  margin-bottom: 2em;
  background-color: #292929;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
}
