@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap");

.navbar {
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  color: rgba(0, 0, 0, 0.335);
}

body {
  background-color: #fffffb;
  color: rgb(0, 0, 0);
}

.left {
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
}

.navtwo {
  display: flex;
  text-align: center;
  margin-top: 2em;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: dashed;
  color: black;
}

.responsive {
  width: 100%;
  height: auto;
  filter: drop-shadow(15px 15px 15px rgb(126, 126, 126));
  margin-top: 1em;
  border-radius: 15%;
}

.secondimg {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-top: 10em;
  filter: drop-shadow(15px 15px 15px rgb(126, 126, 126));
  margin-left: 2em;
  border-radius: 7%;
}

.secondpart {
  display: flex;
}
.text {
  margin-top: 1em;
  margin-left: 20em;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-right: 4em;
  line-height: 1.6em;
}

h1.text {
  text-align: center;
  margin-right: 4em;
  margin-left: 20em;
  margin-top: 12em;
  font-size: 20px;
}
